.app-header-nav {
    .active{
        font-weight: bolder;
        text-decoration: underline;
        color: brown;

    }
    .curr-page{
        font-weight: bolder;
        text-decoration: underline;
    }
    
}