* {
  box-sizing: border-box;

}

html {
  font-size: 16px;
  color: $natural;
}
button{
  cursor: pointer;
  outline: none;
  border: none;
}
body {
  font-size: 14px;
background-color:$mainBgc ;
  height: 100vh;
  font-weight: 400;
}
hr{
  margin-bottom: 10px;
}
#app {
  height: 100%;
}

.main-container {
  height: 100%;
}

img {
  width: 100%;
}

h1,h2,h3,h4,h5,h6{
  margin: 0 0 rem(20px) 0;

  font-weight: 400;
}

a {
  font-weight: 400;

  text-decoration: none;
  text-transform: capitalize;

}

// scroll-bar:
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  // margin-left: 20px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 48px;
}

::-webkit-scrollbar-thumb:hover {
  background: #949494;
}

::-webkit-scrollbar-thumb:active {
  background: #c4c4c4;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 43px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
