.static-page {
    .nav-static{
        font-size: 20px;
        >*:not(:last-child){
            margin-right: 8px;
        }
        .active{
            font-weight: bolder;
            color: rgba(0,0,0,.9);
    
    
        }
    }
}