.converter-main{

    .converter {
        margin-bottom: 15px;
        >*{
            margin-right: 5px;
        }
    }
    .res-container{
        h2{
            color:white;
            // color: #e5e8f0;

        }
    }
}
